body {
  margin: 0;
}

.container {
  /*
    viewport는 현재 보이는 웹페이지의 영역
    vw는 viewport 너비의 1/100을 나타냄 
    vh는 viewport 높이의 1/100을 나타냄 
  */
  width: 100vw;  /*요소의 너비를 viewport 너비와 동일하게 설정*/
  height: 100vh; /*요소의 높이를 viewport 높이와 동일하게 설정*/
  display: flex;
  flex-direction: row;  /*아이템들이 행(가로) 방향으로 배치됨.*/
  flex-wrap: wrap;      /*아이템이 삐져나갈 경우 줄바꿈 실행*/
  text-align: center;
}

header, footer {
  width: 100vw;
  height: 11vh;
  /* line-height : 줄간 맞추는 css 속성으로, height값과 동일할 경우 중앙정렬됨*/
  line-height: 11vh; 
  background-color: #5ed7ff;
}

main, aside {
  height: 80vh; 
  /* line-height : 줄간 맞추는 css 속성으로, height값과 동일할 경우 중앙정렬됨*/
  line-height: 80vh; 
}

aside {
  background-color: #dff3fd;
  width: 10vw;
}

main {
  width: 80vw;
}