body {
  margin: 0;
}

.container {
    /*
    viewport는 현재 보이는 웹페이지의 영역
    vw는 viewport 너비의 1/100을 나타냄 
    vh는 viewport 높이의 1/100을 나타냄 
  */
  width: 100vw;  /*요소의 너비를 viewport 너비와 동일하게 설정*/
  height: 100vh; /*요소의 높이를 viewport 높이와 동일하게 설정*/

  display: grid;
  grid-template-columns : 10vw repeat(2, 1fr) 10vw;  /*repeat(n, 1fr) : n개 만큼 반복된 영역*/
  grid-template-rows: 11vh 1fr 11vh;                 /*1fr은 나머지 영역을 차지하는 키워드*/
  grid-template-areas:
		"header header header header"
		"   a    main   main    b   "
		"footer footer footer footer";
  text-align: center;
}

header{ 
  grid-area: header; 
  background-color: #5ed7ff;
    /* line-height : 줄간 맞추는 css 속성으로, height값과 동일할 경우 중앙정렬됨*/
    line-height: 11vh; 
}

aside-a { 
  grid-area: a; 
  background-color: #dff3fd;
    /* line-height : 줄간 맞추는 css 속성으로, height값과 동일할 경우 중앙정렬됨*/
    line-height: 80vh;
}

main { 
  grid-area: main; 
  /* line-height : 줄간 맞추는 css 속성으로, height값과 동일할 경우 중앙정렬됨*/
  line-height: 80vh; 
}

aside-b { 
  grid-area: b;
  background-color: #dff3fd;
    /* line-height : 줄간 맞추는 css 속성으로, height값과 동일할 경우 중앙정렬됨*/
    line-height: 80vh; 
}

footer { 
  grid-area: footer; 
  background-color: #5ed7ff;
  /* line-height : 줄간 맞추는 css 속성으로, height값과 동일할 경우 중앙정렬됨*/
  line-height: 11vh; 
}
