body {
  margin: 0;
  background-color: #000;
}

.container {
  display: flex;

  width: 100vw;
  height: 100vh;
}

/*전체 중 사용할 부분*/
.container_wrap{
  width: 100%;
  height: 100%;
  margin: 0 50px;
}

/*상단 부분*/
.header{
  width: 100%;
  height: 8%;

  justify-content: space-between; /*양쪽 아이템 정렬*/

  display: flex;
}

/*상단에 clock txt 설정*/
.clock_text{
  color: #fff;
  font-size: 20px;
  margin-left: 30px;
  font-weight: bold;
}

.header::after{
  content: url("assets\battery.png");
} /*사진이 안 불러와짐*/

/*header 아래 구분선*/
.header::after{
  content: "";
  width: 100%;
  border-bottom: 1px solid #4a4a4a;
} /*보더 clock_text 부분 안 그려짐*/

/*header 아래*/
.main_container{
  width: 100%;
  height: 92%;

  display: flex;
}

/* .main_container 왼쪽 파트 */
.left_main_container{
  width: 60%;
  height: 100%;
  
  margin-right: 20px;
}

/* .main_container 오른쪽 파트 */
.right_main_container{
  width: 40%;
  height: 100%;

  margin-left: 20px;
}

/* 모든 글자 */
.main_container h1{
  margin: 0; /*불필요한 간격 제거*/
  padding-bottom: 10px; /*박스와 글자 간 간격 설정*/
  color: #fff;

  display: flex;
}

/* 현재 시간 */
.over_left_main_container{
  width: 100%;
  height: 50%;

}

/* 현재 시간 박스 파트 */
.over_left_main_container .left_box {
  background-color: #efefef;
  font-weight: 500;
  font-size: 45px;
  color: #efefef;
  justify-content: center;
  align-items: center;

  height: 80%; /*h1을 20%으로 잡음*/
  background-color: #2a2a2a;
  border-radius: 15px;

  display: flex;
}

/* 알람 */
.under_left_main_container{
  width: 100%;
  height: 50%;
}

/* 알람 박스 파트 */
.under_left_main_container .left_box {
  height: 60%; /*h1을 20%, 추가 버튼을 20%으로 잡음*/
}

/* 알람 '추가' 버튼 */
.under_left_main_container button{
  height: 20%;
  width: 100%;
  background-color: #2a2a2a;
  border-radius: 15px;
  border: none; /*버튼 내에 있는 그림자 효과 삭제*/

  color: #f69906;
  font-size: 19px;
  font-weight: 500;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
}

/*알람 'input' 창*/
.left_box input{
  font-size: 16px;
  width: 100%;
  height: 30%;
  color: #fff; /*숫자 입력시 더 잘 보이기 위해 숫자를 흰색으로 설정*/

  background-color: #2a2a2a;
  border-width: 0 0 1px; /*border를 아래쪽만*/
  border-color: #4a4a4a;
}

/*input 창 효과 제거*/
.left_box input:focus{
  outline: none;
}

/*오른쪽 알람 현황 창*/
.right_box{
  background-color: #efefef;
  color: #efefef;

  height: 68%; /*h1을 20%, 삭제/끄기 버튼을 20%으로 잡음*/
  background-color: #2a2a2a;
  border-radius: 15px;
}

/*알람 현황 안 박스 설정 (3개로 나눔)*/
.right_box .time_box{
  height: 33%;
  width: 100%;

  border: 1px solid #4a4a4a;
  border-width: 0 0 1px; /*border를 아래쪽만*/

  display: flex;
}

/*알람현황 오전/오후 설정*/
.time_box .time{
  color: #efefef;
  font-size: 30px;
  white-space: nowrap; /*강제 줄바꿈 삭제 (줄바꿈x)*/

  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding-top: 15px;

  display: flex;
}

/*알람현황 시간 설정*/
.time_box .num_time{
  color: #efefef;
  font-size: 50px;

  justify-content: center;
  align-items: center;
  margin-left: 10px;

  display: flex;
}

/*알람현황 '삭제' 버튼*/
.time_box #button01{
  border-radius: 15px;
  border: none; /*버튼 내에 있는 그림자 효과 삭제*/
  height: 30px;
  width: 50px;
  background-color: #535353;

  color: #f69906;
  font-size: 16px;
  justify-content: center;
  align-items: center;

  /* 버튼 중앙정렬 */
  margin: auto;
  display: block;

  display: flex;
}

/* 전체 '삭제 / 끄기' 버튼 */
.right_main_container #button02{
  height: 10%;
  width: 100%;
  background-color: #2a2a2a;
  border-radius: 15px;
  border: none; /*버튼 내에 있는 그림자 효과 삭제*/

  color: #f69906;
  font-size: 19px;
  font-weight: 500;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 10px;
  
  display: flex;
}